.body{
    margin-top: 5px;
    height: auto;
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    float: left;
 }
 .head h5{  
    color: #4285f4;
    font-size:30px;
 }
 .savebutton button{
    float: right;
    background-color: #34a853;
    margin-right: 10px;
    margin-top: 5px;
    width: 40%;
    height: 40px;
    color: white;
    font-size: 16px;
    border-style: none;
    box-shadow:  0 2px 4px 0 rgba(0, 0, 0, 0.3);
  }
 .name{
     font-size: 16px;
     width: 540px;
 }
 .number{
    font-size: 16px;
    width: 200px;
}
.mail{
    font-size: 16px;
    width: 200px;
}
 .community{
     font-size: 16px;
     width: 200px;
 }
 .subcommunity{
     font-size: 16px;
    width: 200px;
}
.flat{
    font-size: 16px;
    width: 200px;
}
.loc{
    font-size: 16px;
  width: 200px;
}
.city{
    font-size: 16px;
    width: 200px;
}
.state{
    font-size: 16px;
    width: 200px;
}
.pin{
   font-size: 16px;
   width: 200px;
}