.card {
    max-width: 240px;
    margin: auto;
  }
  .image img{
    width: 100%;
  }
  #content1{
    background: url(/assets/home-banner.png);
    height:100vh;
    background-size: cover;
    background-repeat: no-repeat;
  }
  /* .card-img-top{
      width: 60px;
      margin: auto;
  } */
 
  .example-container {
  display: flex;
  flex-direction: column;
}

   .log {
    background-color: #f9bc15;
    /* width: 60px; */
        margin: auto;
        width: 88px;
     border-radius: 3px;
    
}


