<div class="example-container1">
  <mat-card class="card">
    <div class="row">
      <div class="col-md-6 icon">
        <mat-icon>home</mat-icon>
      </div>

      <div class="col-md-6 text-right payments">
        <p>Incoming Payments </p>
        <h4>$ 1500/-</h4>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6 text-left date">
        <ul class="dates">
          <li>02 Jul' 17</li>
          <li>02 Jul' 17</li>
          <li>02 Jul' 17</li>
          <li>02 Jul' 17</li>
        </ul>
      </div>
      <div class="col-md-6 text-right price">
        <ul class="prices">
          <li>$ 3720/-</li>
          <li>$ 3720/-</li>
          <li>$ 3720/-</li>
          <li>$ 3720/-</li>
        </ul>
      </div>
    </div>
  </mat-card>
  <mat-card class="card1">
    <div class="row">
      <div class="col-md-6  milksupplies">
        <p>Upcoming Milk Supplies</p>
        <h3>22 Aug' 17</h3>
      </div>
      <div class="col-md-6">
        <i class="material-icons print">local_printshop</i>
      </div>
    </div>
    <hr>
    <div class="row ">
      <div class="col-md-4 milktype">
        <ul>
          <li>Heritage Full Cream Milk</li>
          <li>Heritage Full Cream Milk</li>
          <li>Heritage Full Cream Milk</li>
          <li>Heritage Full Cream Milk</li>
        </ul>
      </div>
      <div class="col-md-4 text-right milklitre">
        <ul>
          <li>1 Litre</li>
          <li>1 Litre</li>
          <li>1 Litre</li>
          <li>1 Litre</li>
        </ul>
      </div>
      <div class="col-md-4  text-right milkcost">
        <ul>
          <li>120 Packets</li>
          <li>120 Packets</li>
          <li>120 Packets</li>
          <li>120 Packets</li>
        </ul>
        <div class="button-row milkbutton">
          <button mat-button>More Details</button>
        </div>
      </div>
    </div>

  </mat-card>
</div>
<router-outlet></router-outlet>