<div class="input-group">
  <i class="material-icons">search</i>
  <input class="form-control" placeholder="Name,Address,Ph.no">
</div>
<h2> Milk Subscription Details</h2>
<mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      
</mat-form-field>

<div class="container-fluid">
  <div class="col-md-12 ">
    <div class="col-md-4 body" *ngFor="let item of list">
     
        <div class="row ">

          <div class="col-md-4 name">
            <img src="{{item.imagepath}}">
          </div>

          <div class="col-md-4 name">
            <h3>{{item.desc}}</h3>
            <h6>{{item.desc1}}</h6>
            <h4>{{item.desc2}}</h4>
          </div>


          <div class="col-md-4 name">
            <h2>{{item.price}}</h2>
          </div>

        </div>
      
    </div>
  </div>

</div>

<router-outlet></router-outlet>